<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiKJ9_Vm7vjsVsQKXtYzdiREljN8Qg1dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1006486129205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.promiloApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-project-6c72f</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-6c72f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006486129205:ios:062c1174f1f7127c8b7f7c</string>
</dict>
</plist>